body {
    margin: 0;
    padding: 0;
}

:root {
    --colorBrown: #e08b6c;
}

header {
    background-color: black;
    color: white;
}

.website-header {
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.website-header img {
    height: 50px;
    width: 50px;
    margin: 0 30px;
}

.website-header h1 {
    margin: 0 auto;
}

.social-icons {
    text-align: right;
    flex-grow: 1;
}

.social-icons i {
    margin: 0 7px;
    cursor: pointer;
}

nav {
    background-color: black;
    height: 50px;
    margin-bottom: 20px;
}

nav ul {
    margin: 20px 0 0 0;
}

.navbar-nav li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.navbar-nav li a:hover {
    color: #e08b6c;
}

.breaking-news-section {
    display: flex;
    padding: 0 30px 0 60px;
    height: 30px;
}

#btext {
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--colorBrown);
    font-weight: 600;
    margin: auto 0;
}

.breaking-news {
    padding: 0 30px;
    color: white;
    font-weight: 800;
    display: inline-block;
    margin: auto 0;
}

.bntime {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding: 0 10px;
}

.breaking-news:hover,
.social-icons i:hover {
    color: var(--colorBrown);
    cursor: pointer;
}


/* news section */

#popular-news {
    display: flex;
    margin: 30px 5%;
    flex-wrap: wrap;
}

#popular-news img {
    width: 100%;
    filter: brightness(0.7);
}

#popular-news h2,
.more-news h2 {
    color: white;
    margin: 0;
    padding: 5px;
}

#featured h2 {
    background-color: black;
}

#latest h2 {
    background-color: darkred;
}

#our-picks {
    background-color: darkblue;
}

#featured:hover,
#latest:hover,
#our-picks {
    cursor: pointer;
}

.popular-new-text {
    font-size: 16px;
    position: absolute;
    z-index: 2;
    color: white;
    font-weight: bolder;
    bottom: 5px;
    transition-duration: 500ms;
}

.news-container {
    position: relative;
}

#featured {
    flex: 2;
}

#latest,
#our-picks {
    flex: 1;
}

.news-container:hover>.popular-new-text {
    bottom: 10px;
}

.more-news {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    justify-content: space-around;
    background-color: black;
    text-align: justify;
}

.news-section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    color: white;
    justify-content: space-between;
}

.news-section img {
    width: 100%;
}

.world {
    color: white;
}

.world,
.sport {
    flex-basis: 45%;
}

.world:hover,
.sport:hover {
    cursor: pointer;
}

.world h2 {
    background-color: #b2175b;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.sport h2 {
    background-color: #3c1b75;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

aside {
    width: 90%;
    padding: 10px;
    flex-basis: 25%;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 0;
}

aside h4 {
    color: white;
}

.recent-news {
    display: flex;
}

.recent-news img {
    width: 90px;
    height: 50px;
    margin: 10px;
}

.recent-news p {
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    color: white;
}

.recent-news img:hover,
.recent-news p:hover {
    cursor: pointer;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

.social-links section {
    flex-basis: 30%;
}

.about,
.instagram,
.subscribe {
    flex-basis: 30%;
}

.social-links h2 {
    font-weight: bold;
}

.instagram img {
    padding: 5px;
}

.instagram img:hover {
    cursor: pointer;
}

.footer-buttons {
    display: block;
    border: 1px solid rgb(16, 88, 223);
    color: rgb(16, 88, 223);
    font-weight: bolder;
    font-size: 14px;
    padding: 10px 20px;
    background-color: white;
    margin: 20px auto;
}

.footer-buttons:hover {
    color: white;
    background-color: rgb(16, 88, 223);
    cursor: pointer;
}

.social-icons-footer {
    font-size: 37px;
    padding: 5px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .website-header img {
        width: 35px;
        height: 35px;
        padding: 5px;
    }
    .website-header h1 {
        font-size: 15px;
    }
    .breaking-news-section {
        flex-wrap: wrap;
        height: 70px;
        padding: 10px;
    }
    .navbar-toggler-icon {
        background-image: url(images/menu.jpg);
    }
    .navbar-collapse {
        background-color: black;
        z-index: 16;
    }
    section {
        display: flex;
        flex-wrap: wrap;
    }
    #featured {
        flex: auto;
    }
    .news-section article,
    .news-section,
    .social-links section {
        flex-basis: 100%;
    }
    .social-icons {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 12px;
    }
    aside {
        flex-basis: auto;
        border-width: 0;
    }
}